@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #222831;
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.calendar {
  width: 400px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #610c9f;
  padding: 5px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
select {
  font-size: 18px;
  padding: 0 8px;
  border: 1px solid #610c9f;
  border-radius: 4px;
  margin: 0 10px;
}
.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: bold;
  padding: 10px;
  text-align: center;
  background-color: #610c9f;
  color: #fff;
  margin-bottom: 10px;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
.day,
.empty {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}
.empty {
  background-color: #f9f9f9;
}
.day:hover {
  background-color: #610c9f;
  color: #fff;
}
.current {
  background-color: olive;
  color: #fff;
}
